extends layout

block content
    h1= title
    p this should be Indorse main webpage
    a(href="/newuser")='Step1 : Request Github integration'
    br
    a(href="/verification")='Step2 : Confirm your Github account'
    br
    a(href="/userlist")='List of users'
    
