extends layout

block content
    h1= title
    p this should be Indorse main webpage
    a(href="/newuser")='Verify your Github'
    br
    a(href="/userlist")='List of users'
    br
    a(href="/verification")='Confirm'
