extends layout

block content
    h1 Would you like to add your Github?
    br
    p Please enter your Indorse account (email) and your Github username.
    br
    form#formAddUser(name="adduser",method="post",action="/adduser")
        input#inputUserName(type="text", placeholder="Github account", name="username")
        input#inputUserEmail(type="text", placeholder="Indorse account", name="useremail")
        button#btnSubmit(type="submit") Submit

    br
    p What's next? - You will receive an email on how to integrate your Github to your Indorse account
    br
