extends layout

block content
    h1 Integrate your github
    br
    p This page is only for POC purpose
    p It will check if github user has repository name with user-hash
    br
    form#formAddUser(name="adduser",method="post",action="/addVerification")
        input#inputUserName(type="text", placeholder="Github account", name="username")
        input#inputUserEmail(type="text", placeholder="Indorse account", name="useremail")
        input#inputUserHash(type="text", placeholder="User hash", name="userhash")
        button#btnSubmit(type="submit") Confirm

    br
